.blue {
  color: #0ca7af;
}
.pink {
  color: #e64def;
}
.green {
  color: #1ec30a;
}
.red {
  color: #ec6e6e;
}
.strongRed {
  color: #f53838;
}

.yellow {
  color: #fde952;
}

.darkBlue {
  color: #007bff;
}

.darkPink {
  color: #ec5074;
}

.darkGreen {
  color: #28a745;
}

.privateDisclaimer {
  color: #999;
}
