@font-face {
  font-family: Kindness;
  src: url("fonts/Kindness.ttf"); 
 }

 @font-face {
  font-family: LoveYa;
  src: url("fonts/LoveYaLikeASister.ttf"); 
 }

  body{
    font-family: Kindness;
    margin:0px;
  }
 
  
  .frontPage{
    text-align: center;
    display: block;
    text-align: -webkit-center;
    background: #9dd7e1;
  }

  header{
    height: 35vh;
    padding: 0 20%;
    z-index: 10;
    top: 0px;
    /* border: red solid 2px; */
    text-align: center;
    width: 100%;
  }

  .titleContainer h1, .blurb button h1{
    font-family: LoveYa;
  }
  
  .blurb button h1{
    font-size: 25px;
  }
  
  header a, header h1{
  color: white;
  padding-top: 12px;
	text-decoration: none;
  font-size: 25px;
  font-family: kindness;
  }

  header h1{
	font-size: 35px;
  }


  
  ul{
  	padding: 0px;
  }

  li{
    list-style: none;
    width: 25%;
    float: left;
    height: 95px;
    padding-top: 2.5px;
    border-radius: 5px;
  }

  .selected{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 5px;
  }

  li a p{
    margin-top: 0px;
		margin-bottom: 15px;
  }

  li a img{
    width: 80%;
    max-width: 90px;
  }

  nav .sonny{
  	position: absolute;
  }

  .blurb{
    padding: 20vh 0 25vh 0;
  }

  .blurb h1{
    margin: 0px;
    color: white;
    font-size: 45px;
    font-family: inherit;
  }

  .blurb a{
    font-size: 30px;
    color: #4f7762;
  }

  .blurb button{
    width: 288px;
    padding: 8px;
    border-radius: 100px;
    border: 0px;
    background: #c8523b;
    color: white;
    margin-top: 20px;
  }

  .learnMore{    
    font-size: 37px !important;
    margin-top: 15px !important;
  }

  .learnMore:hover{
    text-decoration: underline;
  }

  .icon{
  	width: 90px;
  	vertical-align: middle;
  	margin-top: -25px;
  }

  @media (max-width: 660px){
  	header{
  	  width: 100%;
      padding: 0;
	  
  	}
  	li{
      width: 19.2%;
	  }
  }

  /* CONTACT */
  #copyright{
    font-size: 26px;
    color: black;
    margin: 0px;
    margin-top: 12px;
    padding: 0px;
    position: absolute;
    width: 100vw;
  }

  .questionSection{
    border: red solid 1px; 
    width: 100%; 
    font-family: loveya; 
    background: orange;
  }

  .questionSection h1{
    font-family: loveYa;
  }

  .questionSection .description{
    padding-top: 50px;
    color: white;
    padding: 50px;
    
  }
  .questionSection .form{
    font-family: sans-serif;
  }
  /* contact */