@font-face {
  font-family: BebasNeue;
  src: url(../font/BebasNeue-webfont.woff);
}
@font-face {
  font-family: HelveticaNeueThin;
  src: url(../font/helvetica/HelveticaNeueThin.ttf);
}
@font-face {
  font-family: HelveticaNeuBold;
  src: url(../font/helvetica/HelveticaNeueBd.ttf);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.button1:disabled,
.button2:disabled,
.button3:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.homeBtnNav,
.titleNav,
.naughty-text {
  display: none;
}

.bebasNeue {
  font-family: BebasNeue;
}

.helveticaNeuBold {
  font-family: HelveticaNeuBold;
}

.helveticaNeuThin {
  font-family: HelveticaNeuThin;
}

@media (max-height: 800px) {
  .kindnessLogo {
    width: 20vh !important;
    margin-bottom: 5px !important;
  }

  #kindness__content {
    margin-top: -10vh;
  }
}

@media (max-height: 600px) {
  #kindness__selected-image {
    width: 10vh !important;
  }

  .kindnessLogo,
  .smallMobile {
    display: none !important;
  }
}
